# Dependencies
node_modules/
venv/
env/
__pycache__/
*.pyc

# Environment variables
.env

# Monitoring data
prometheus_data/
grafana_data/

# Build outputs
dist/
build/

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# AI logs
logs/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
